mixin name-submit-list-item(imageSrc, name, description, buttonName)
  li.name-li
    figure.name-list-figure
      .name-list-portrait
        img(src=imageSrc, alt=name)
      .name-list-description
        figcaption=name
        p.p=description
      button.button.name-list-select(name=buttonName value=name type="submit") Select